<div class="row well"  *ngIf="movie">
  <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input 
        type="text" 
        [(ngModel)]="movie.title" 
        required
        class="form-control" 
        id="title" 
        name="title" 
        #title="ngModel"
        placeholder="Title">
        <div [hidden]="title.valid"
              class="alert alert-danger">
          The title is required
        </div>
    </div>
    <div class="form-group">
      <label for="overview">Overview</label>
      <textarea 
        [(ngModel)]="movie.overview" 
        required
        class="form-control"
        rows="10" 
        id="overview" 
        name="overview" 
        #overview="ngModel"
        placeholder="Overview">
      </textarea>
      <div [hidden]="overview.valid"
            class="alert alert-danger">
        The overview is required
      </div>
    </div>
    <button type="submit" class="btn btn-primary"
            [disabled]="!movieForm.form.valid">
      Save
    </button>
    <button class="btn btn-danger" (click)="onCancel($event)">
      Cancel
    </button>
  </form>
</div>
